<h1>Employee profile</h1>

<div class="employee-profile-container">
    <div class="employee-info" *ngIf="employee">
        <label>First Name:</label>
        <span>{{ employee.firstName || '-' }}</span>
    </div>
    <div class="employee-info" *ngIf="employee">
        <label>Last Name:</label>
        <span>{{ employee.lastName || '-' }}</span>
    </div>
    <div class="employee-info" *ngIf="employee">
        <label>Address:</label>
        <span>{{ employee.address || '-' }}</span>
    </div>
    <div class="employee-info" *ngIf="employee">
        <label>City:</label>
        <span>{{ employee.city || '-' }}</span>
    </div>
    <div class="employee-info" *ngIf="employee">
        <label>Country:</label>
        <span>{{ employee.country || '-' }}</span>
    </div>
    <div class="employee-info" *ngIf="employee">
        <label>Phone Number:</label>
        <span>{{ employee.phoneNumber || '-' }}</span>
    </div>
    <div class="edit-button-container" *ngIf="employee">
        <button class="edit-button" (click)="onEditClicked(employee)">Edit</button>
    </div>
</div>

<app-edit-employee-profile *ngIf="editClicked" [employee]="employee"></app-edit-employee-profile>
<app-advertisements></app-advertisements>
<app-requests></app-requests>