.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 130vh;
    background-color: #f4f4f4; 
    padding: 20px; 
    width: auto;
    margin-top: -100px;
  }
  
  .login-form {
    border: 2px solid rgb(35, 35, 53); /* Dodato: okvir */
    width: 250px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px; 
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px; /* Povećano: razmak između polja */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .login {
    background-color: rgb(178, 140, 69); 
    border: none;
    border-radius: 20px; 
    color: white; 
    padding: 10px 20px; 
    cursor: pointer;
    padding: 15px 30px; 
    margin-right: 10px;
    width: 100%;
  }
  
  .login:hover {
    background-color: white; 
    color: rgb(35, 35, 53);
    border: 2px solid rgb(35, 35, 53);
  }
  
  .invalid-field {
    border: 2px solid #ff0000; 
  }
  
  .login-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #2f8cc3; 
    margin-bottom: 20px; 
  }
  
  .login-image {
    width: 100px;
    height: auto; 
    margin-left: 75px;
  }
  
  