<h1>Client profile</h1>

<div class="employee-profile-container">
    <div class="employee-info" *ngIf="client">
        <label>First Name:</label>
        <span>{{ client.firstName || '-' }}</span>
    </div>
    <div class="employee-info" *ngIf="client">
        <label>Last Name:</label>
        <span>{{ client.lastName || '-' }}</span>
    </div>
    <div class="employee-info" *ngIf="client">
        <label>Address:</label>
        <span>{{ client.address || '-' }}</span>
    </div>
    <div class="employee-info" *ngIf="client">
        <label>City:</label>
        <span>{{ client.city || '-' }}</span>
    </div>
    <div class="employee-info" *ngIf="client">
        <label>Country:</label>
        <span>{{ client.country || '-' }}</span>
    </div>
    <div class="employee-info" *ngIf="client">
        <label>Phone Number:</label>
        <span>{{ client.phoneNumber || '-' }}</span>
    </div>
    <div class="edit-button-container" *ngIf="client">
        <button class="edit-button" (click)="onEditClicked(client)">Edit</button>
    </div>
</div>

<app-edit-client-profile *ngIf="editClicked" [client]="client"></app-edit-client-profile>
<app-advertisements-for-user></app-advertisements-for-user>
<div class="edit-button-container">
    <button class="edit-button" (click)="onAddAdvertisementClicked()">Make a Request</button>
</div>
<app-advertisement-form *ngIf="addAdvertisementClicked"></app-advertisement-form>