.employee-profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid rgb(128,0,32);
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.heightC{
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.employee-info {
    margin-bottom: 10px;
}

.employee-info label {
    font-weight: bold;
}

.employee-info span {
    padding: 8px;
}

.edit-button-container {
    text-align: center;
}

.edit-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(128,0,32);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-button:hover {
    background-color: rgb(76, 0, 19);
}

.delete-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(128,0,32);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.delete-button:hover {
    background-color: rgb(76, 0, 19);
}

.advertisements-container,
.requests-container {
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.message-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed; /* Use fixed position to center it relative to the viewport */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the element */
    background-color: white; /* Add background color if needed */
    padding: 20px; /* Add some padding */
    border-radius: 8px; /* Optional: add border-radius for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: add shadow for better visibility */
    z-index: 1000; /* Ensure it appears above other elements */
  }

  .deleteButton {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(128,0,32);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 5px;
    margin-top: 30px;
    width: 120px;
}

.deleteButton:hover {
    background-color: rgb(76, 0, 19);
}

.center-class {
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    height: 100%; /* Ensure the container takes the full height available */
  }

  .title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    text-align: center;
    font-size: 1.2vw;
    font-weight: bold;
    margin-bottom: 5px; 
  }

  .subtitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8vw;
    text-decoration: none;
    text-align: center;
    margin-bottom: 30px; 
    color: gray;
  }
  
  .cancelButton {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 120px;
}

.cancelButton:hover {
    background-color: rgb(76, 0, 19);
    color: white;
}

.center-class input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-sizing: border-box;
  }
