<h2>Administrator profile:</h2>
<button (click)="navigateTo('/administrator-form')">Add new Administrator</button>
<table>
    <tr *ngIf="administrator">
        <td>First Name:</td>
        <td>{{ administrator.firstName || '-' }}</td>
    </tr>
    <tr *ngIf="administrator">
        <td>Last Name:</td>
        <td>{{ administrator.lastName || '-' }}</td>
    </tr>
    <tr *ngIf="administrator">
        <td>Address:</td>
        <td>{{ administrator.address || '-' }}</td>
    </tr>
    <tr *ngIf="administrator">
        <td>City:</td>
        <td>{{ administrator.city || '-' }}</td>
    </tr>
    <tr *ngIf="administrator">
        <td>Country:</td>
        <td>{{ administrator.country || '-' }}</td>
    </tr>
    <tr *ngIf="administrator">
        <td>Phone Number:</td>
        <td>{{ administrator.phoneNumber || '-' }}</td>
    </tr>
    <tr *ngIf="administrator">
        <button (click)="onEditClicked(administrator)">Edit</button>
    </tr>
    
</table>

<app-edit-administrator-profile *ngIf="editClicked" [administrator]="administrator"></app-edit-administrator-profile>
<app-employees></app-employees>
<button (click)="navigateTo('/employee-form')">Add new Employee</button>
<app-clients></app-clients>
<button (click)="navigateTo('/permission-page')">Manage permissions</button>
