<!-- Moje staro, Nina dodala permisije-->
<!-- <h2 *ngIf="createAdmin || updateAdmin || getByUserId || hasEmployeePermission || createEmployee || getAllCLients || managePermissions">Administrator profile:</h2>
<button *ngIf="createAdmin" (click)="navigateTo('/administrator-form')">Add new Administrator</button>
<table *ngIf="getByUserId && updateAdmin">
    <tr *ngIf="administrator">
        <td>First Name:</td>
        <td>{{ administrator.firstName || '-' }}</td>
    </tr>
    <tr *ngIf="administrator">
        <td>Last Name:</td>
        <td>{{ administrator.lastName || '-' }}</td>
    </tr>
    <tr *ngIf="administrator">
        <td>Address:</td>
        <td>{{ administrator.address || '-' }}</td>
    </tr>
    <tr *ngIf="administrator">
        <td>City:</td>
        <td>{{ administrator.city || '-' }}</td>
    </tr>
    <tr *ngIf="administrator">
        <td>Country:</td>
        <td>{{ administrator.country || '-' }}</td>
    </tr>
    <tr *ngIf="administrator">
        <td>Phone Number:</td>
        <td>{{ administrator.phoneNumber || '-' }}</td>
    </tr>
    <tr *ngIf="administrator">
        <button (click)="onEditClicked(administrator)">Edit</button>
    </tr>
    
</table>

<app-edit-administrator-profile *ngIf="editClicked" [administrator]="administrator"></app-edit-administrator-profile>
<app-employees *ngIf="hasEmployeePermission"></app-employees>
<button *ngIf="createEmployee" (click)="navigateTo('/employee-form')">Add new Employee</button>
<app-clients *ngIf="getAllCLients"></app-clients>
<button *ngIf="managePermissions" (click)="navigateTo('/permission-page')">Manage permissions</button>
-->


<!-- Moje novo -->
<h1 *ngIf="createAdmin || updateAdmin || getByUserId || hasEmployeePermission || createEmployee || getAllCLients || managePermissions">Administrator profile:</h1>
<div class="employee-profile-container" *ngIf="getByUserId && updateAdmin">
    <div class="edit-button-container">
        <button *ngIf="createAdmin" class="edit-button" (click)="navigateTo('/administrator-form')">Add new Administrator</button>
    </div>
    <div class="employee-info" *ngIf="administrator">
        <label>First Name:</label>
        <span>{{ administrator.firstName || '-' }}</span>
    </div>
    <div class="employee-info" *ngIf="administrator">
        <label>Last Name:</label>
        <span>{{ administrator.lastName || '-' }}</span>
    </div>
    <div class="employee-info" *ngIf="administrator">
        <label>Address:</label>
        <span>{{ administrator.address || '-' }}</span>
    </div>
    <div class="employee-info" *ngIf="administrator">
        <label>City:</label>
        <span>{{ administrator.city || '-' }}</span>
    </div>
    <div class="employee-info" *ngIf="administrator">
        <label>Country:</label>
        <span>{{ administrator.country || '-' }}</span>
    </div>
    <div class="employee-info" *ngIf="administrator">
        <label>Phone Number:</label>
        <span>{{ administrator.phoneNumber || '-' }}</span>
    </div>
    <div class="edit-button-container" *ngIf="administrator">
        <button class="edit-button" (click)="onEditClicked(administrator)">Edit</button>
    </div>
</div>

<app-edit-administrator-profile *ngIf="editClicked" [administrator]="administrator"></app-edit-administrator-profile>
<app-employees *ngIf="hasEmployeePermission"></app-employees>
<div class="edit-button-container">
    <button *ngIf="createEmployee" class="edit-button" (click)="navigateTo('/employee-form')">Add new Employee</button>
</div>
<app-clients *ngIf="getAllCLients"></app-clients>
<button *ngIf="managePermissions" (click)="navigateTo('/permission-page')">Manage permissions</button>
