<div class="login-container">   
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="!submitted" [formGroup]="form" class="login-form"> 
        <div class="imageTitle">
            <img src="assets/login.png" alt="Login Image" class="login-image">
            <p class="loginTitle">Passwordless Login</p>
        </div>    

        <div class="inputDiv">
            <input formControlName="mail" matInput placeholder="mail" required>
        </div>
        
        <button  color="primary"
            type="submit" class="login">Send Login Request</button>

    </form>
</div>

