<div class="home">
    <img  src="../assets/ads.png" alt="logo" class="main-image">
    <div class="home-right">
        <p class="description">Your Marketing Agency's<span style="color: rgb(128,0,32); background-color: white;">Digital Command Center</span></p>
        <p class="app">Easily manage your<span style="color: rgb(128,0,32); background-color: white; font-weight: 320;"> marketing needs</span>, track<span style="color: rgb(128,0,32); background-color: white; font-weight: 320;"> campaign progress</span>
            - all through our<span style="color: rgb(128,0,32); background-color: white; font-weight: 320;"> user-friendly</span> app.
        </p>
    </div>
</div>