
<div class="heightC" *ngIf="createAdmin">
<div *ngIf="shouldRenderIndividual" class="registration-div">
    <!--Second step as individual - create user -->
    <h2>Administrator credentials</h2>
    <form #userForm="ngForm" [formGroup]="formUser" class="user-form">  
        <div class="inputDiv">
            <input formControlName="mail" matInput placeholder="Email" required>
            <input formControlName="password" matInput placeholder="Password" required type="password">
            <input formControlName="confirmationPassword" matInput placeholder="Confirm password" required type="password">
        </div>        
    </form>

    <button class="thirdStepButton" (click)="thirdStepIndividual()">
        Next
    </button>
</div>

<div *ngIf="shouldRenderThirdStepIndividual" class="registration-div">
    <!-- Third step as individual-->
    <h2>Administrator info</h2>
    <form #individualForm="ngForm" [formGroup]="formIndividual" class="individual-form">  
        <div class="inputDiv">
            <input formControlName="firstname" matInput placeholder="First name" required>
            <input formControlName="lastname" matInput placeholder="Last name" required>
            <input formControlName="address" matInput placeholder="Address" required>
            <input formControlName="city" matInput placeholder="City" required>
            <input formControlName="country" matInput placeholder="Country" required>
            <input formControlName="phoneNumber" matInput placeholder="Phone number" required>
        </div>        
    </form>

    <button class="thirdStepButton" (click)="submitIndividual()">
        Next
    </button>
</div>
</div>